<div id="predictions-container" class="tile">

    <div class="row justify-content-md-center align-items-md-center h-100">
        <div class="tile-title">
            Predicted:
        </div>

        <div class="col-md-12 centered">
            <div class="row justify-content-center">

                <div *ngFor="let day of tileData.days" class="col-6 col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 predicted-conditions-item">
                    <div class="predicted-conditions-date">{{day.date | date:'dd/MM'}}</div>
                    <svg height="40" width="40" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
                        <image x="0" y="0" height="40" width="40" xlink:href="" [attr.xlink:href]="'assets/img/svg/' + conditionFn(day.condition)"></image>
                    </svg>
                    <div class="predicted-conditions-condition">{{day.conditionAsText}}</div>
                    <div class="predicted-conditions-temp">Temp: {{ day.temp | number:0 }} °C</div>
                </div>
            </div>
        </div>
    </div>

</div>
