<div class="btn-group" dropdown #dropdown="bs-dropdown" [autoClose]="false">
    <input type="text" placeholder="Zoek op gemeente" [formControl]="citySearchFormControl" (focus)="showAutoComplete()">
    <button id="fake-autocomplete-button" dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
    </button>
    <ul id="dropdown-triggers-manual" *dropdownMenu class="dropdown-menu"
        role="menu" aria-labelledby="button-triggers-manual">
        <li *ngFor="let city of cities | async" role="menuitem">
            <a class="dropdown-item" href="#" (click)="onCitySelected(city)">
                {{city.name}} {{city.country}}
            </a>
        </li>
    </ul>
</div>
