<div style="text-align:center">
    <div id="search-container">
        <div class="btn-group" dropdown #dropdown="bs-dropdown" [autoClose]="false">
            <input type="text" placeholder="Zoek op gemeente" [formControl]="citySearchFormControl" (focus)="showAutoComplete()">
            <button id="fake-autocomplete-button" dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                Button dropdown <span class="caret"></span>
            </button>
            <ul id="dropdown-triggers-manual" *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="button-triggers-manual">
                <li *ngFor="let city of cities | async" role="menuitem">
                    <a class="dropdown-item" href="#" (click)="onCitySelected(city)">
                        {{city.name}} {{city.country}}
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <hr/>

    <div *ngIf="selectedCity" class="container-fluid">
        <h3 class="row justify-content-md-center">{{selectedCity?.name}}</h3>
        <div class="row">
            <app-current-tile class="col-lg-6" *ngIf="currentConditionsTile" [tileData]="currentConditionsTile">
            </app-current-tile>

            <app-predicted-tile class="col-lg-6" *ngIf="predictedConditionsTile" [tileData]="predictedConditionsTile">
            </app-predicted-tile>
        </div>
        <div class="row">
            <app-sun-tile class="col-lg-6" *ngIf="sunTile" [tileData]="sunTile">
            </app-sun-tile>

            <app-wind-tile class="col-lg-6" *ngIf="windTile" [tileData]="windTile">
            </app-wind-tile>
        </div>
        <div class="row">
            <app-rain-tile class="col-lg-6" *ngIf="rainTile" [tileData]="rainTile">
            </app-rain-tile>

            <app-lightning-tile class="col-lg-6" *ngIf="lightningTile" [tileData]="lightningTile">
            </app-lightning-tile>
        </div>
    </div>

</div>
